---
import { Icon } from 'astro-icon/components'
import { docsConfig } from '@lib/docs/config'

const platform = docsConfig.repo?.platform || 'github'
const username = docsConfig.repo?.username || ''
const repo = docsConfig.repo?.name || ''
const domain = platform === 'gitlab' ? 'gitlab.com' : 'github.com'
const repoUrl = username && repo ? `https://${domain}/${username}/${repo}` : ''
const repoIcon = platform === 'gitlab' ? 'mdi:gitlab' : 'mdi:github'
---

{repoUrl && (
  <a href={repoUrl} target="_blank" rel="noopener noreferrer" class="text-(--sd-muted) hover:text-(--sd-accent) transition-colors">
    <Icon name={repoIcon} class="text-2xl" />
  </a>
)}
